<!-- base.html -->
{{define "base"}}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <title>Instagram</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="refresh" content="60">
        <link rel="icon" href="../static/images/favicon.png" type="image/icon">
        <link rel="stylesheet" type="text/css" href="../static/style.css">
        {{block "css" .}}{{end}}
    </head>
    <body>
    {{block "content" .}}{{end}}

    {{block "js" .}}{{end}}
    </body>
    </html>
{{end}}